

footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-color:#F5F5F5;
  margin: 15px;
}

p{
padding: 10px;
text-align: center;
}

header{
  padding: 10px;
}
h1{
  margin-top: 15px;
  text-align: center;
}

a {
  display: block;
  text-align: center; 
}

#CalculateButton:hover {
  background-color: #0056b3;
}

#ToggleButton:hover {
  background-color: #0056b3;
}

#Result {
  font-size: 20px;
  margin-top: 20px;
}





